# data frame

In [1]:
import pandas as pd
import numpy as np

In [3]:
data = np.random.randn(4,5)

In [4]:
data

array([[ 0.33469383, -0.23023478,  0.0431392 ,  1.24888641,  1.24040525],
       [-0.52606526,  1.66607125,  1.33213468,  1.18217889,  0.32982041],
       [-0.32587976,  1.36808632,  0.27713717, -1.08261712, -0.09513555],
       [ 0.76407263, -0.41942004, -1.14738166,  1.59109112, -1.32523871]])

In [6]:
dataFrame = pd.DataFrame(data)

In [8]:
dataFrame[0]

0    0.334694
1   -0.526065
2   -0.325880
3    0.764073
Name: 0, dtype: float64

In [10]:
yenidataframe = pd.DataFrame(data,index = ["emre","emrah","emir","yiğit"],columns=["maas","yas","saat","bilinmezlik","beşimci"])

In [11]:
yenidataframe

           maas       yas      saat  bilinmezlik   beşimci
emre   0.334694 -0.230235  0.043139     1.248886  1.240405
emrah -0.526065  1.666071  1.332135     1.182179  0.329820
emir  -0.325880  1.368086  0.277137    -1.082617 -0.095136
yiğit  0.764073 -0.419420 -1.147382     1.591091 -1.325239

In [12]:
yenidataframe["yas"]

emre    -0.230235
emrah    1.666071
emir     1.368086
yiğit   -0.419420
Name: yas, dtype: float64

In [17]:
yenidataframe[["bilinmezlik","maas"]]

       bilinmezlik      maas
emre      1.248886  0.334694
emrah     1.182179 -0.526065
emir     -1.082617 -0.325880
yiğit     1.591091  0.764073

In [18]:
yenidataframe.loc["emrah"]

maas          -0.526065
yas            1.666071
saat           1.332135
bilinmezlik    1.182179
beşimci        0.329820
Name: emrah, dtype: float64

In [19]:
yenidataframe.iloc[2]

maas          -0.325880
yas            1.368086
saat           0.277137
bilinmezlik   -1.082617
beşimci       -0.095136
Name: emir, dtype: float64

In [20]:
yenidataframe["yenş"] = yenidataframe["yas"]*2

In [21]:
yenidataframe

           maas       yas      saat  bilinmezlik   beşimci      yenş
emre   0.334694 -0.230235  0.043139     1.248886  1.240405 -0.460470
emrah -0.526065  1.666071  1.332135     1.182179  0.329820  3.332143
emir  -0.325880  1.368086  0.277137    -1.082617 -0.095136  2.736173
yiğit  0.764073 -0.419420 -1.147382     1.591091 -1.325239 -0.838840

In [23]:
yenidataframe.drop("yenş",axis=1)

           maas       yas      saat  bilinmezlik   beşimci
emre   0.334694 -0.230235  0.043139     1.248886  1.240405
emrah -0.526065  1.666071  1.332135     1.182179  0.329820
emir  -0.325880  1.368086  0.277137    -1.082617 -0.095136
yiğit  0.764073 -0.419420 -1.147382     1.591091 -1.325239

In [24]:
yenidataframe.drop("yiğit",axis=0)

           maas       yas      saat  bilinmezlik   beşimci      yenş
emre   0.334694 -0.230235  0.043139     1.248886  1.240405 -0.460470
emrah -0.526065  1.666071  1.332135     1.182179  0.329820  3.332143
emir  -0.325880  1.368086  0.277137    -1.082617 -0.095136  2.736173

In [25]:
yenidataframe.drop("yenş",axis=1,inplace=True)

In [26]:
yenidataframe

           maas       yas      saat  bilinmezlik   beşimci
emre   0.334694 -0.230235  0.043139     1.248886  1.240405
emrah -0.526065  1.666071  1.332135     1.182179  0.329820
emir  -0.325880  1.368086  0.277137    -1.082617 -0.095136
yiğit  0.764073 -0.419420 -1.147382     1.591091 -1.325239

In [27]:
yenidataframe = yenidataframe.drop("yiğit")

In [28]:
yenidataframe

           maas       yas      saat  bilinmezlik   beşimci
emre   0.334694 -0.230235  0.043139     1.248886  1.240405
emrah -0.526065  1.666071  1.332135     1.182179  0.329820
emir  -0.325880  1.368086  0.277137    -1.082617 -0.095136

In [29]:
yenidataframe.loc["emrah"]["maas"]

-0.5260652564145947

In [31]:
yenidataframe.loc["emrah","maas"]

-0.5260652564145947

In [32]:
booleanframe = yenidataframe < 0

In [33]:
yenidataframe[booleanframe]

           maas       yas  saat  bilinmezlik   beşimci
emre        NaN -0.230235   NaN          NaN       NaN
emrah -0.526065       NaN   NaN          NaN       NaN
emir  -0.325880       NaN   NaN    -1.082617 -0.095136

In [36]:
yenidataframe[yenidataframe["yas"]>0]

           maas       yas      saat  bilinmezlik   beşimci
emrah -0.526065  1.666071  1.332135     1.182179  0.329820
emir  -0.325880  1.368086  0.277137    -1.082617 -0.095136